.card-wrapper {
	.card-label {
		color: #fff;
		font-size: 15px;
		line-height: 1.2;
		letter-spacing: 0.5px;
		margin: 0 0 5px 0;
	}
	.card-input {
		display: block;
		width: 100%;
		padding: 2px 5px;
		border-radius: 3px;
	}
}
