@import "~scss/mixins/_breakpoints.scss";

:root {
	--primary-red: #e30217;
}

html,
body {
	scroll-behavior: smooth;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

header {
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	background-color: #fff;
	&.nav-fixed-top {
		-webkit-backdrop-filter: blur(2px);
		backdrop-filter: blur(2px);
		background-color: rgba(248, 248, 248, 0.75);
		border-bottom: 2px solid var(--primary-red);
	}
}
